<h3>Confirm</h3>

<%= form_with(model: @feed, local: true, url: confirm_new_or_edit, method: confirm_form_method) do |form| %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>Image : <%= @feed.image %></p>
  <p>Comment : <%= @feed.content %></p>
  <%= form.submit  "Submit" %>
<% end %>

<%= form_with(model: @feed, url: new_feed_path, local: true, method: "get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: "back" %>
<% end %>