<h1>Feeds</h1>

<% @feeds.each do |feed| %>
  <p><strong><%= feed.user.name %></strong></p>
  <p><%= image_tag feed.image.url %></p>
  <p><%= feed.user.name %>: <%= feed.content %></p>
  <p><%= link_to 'Show', feed %> | <%= link_to 'Edit', edit_feed_path(feed) %> | <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <p>-----------------------------------------------------------------------------------------------------------------------------------------</p>
<% end %>