<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像: <%= image_tag @user.image.url %></p>
<p>プロフィール: <%= @user.introduce %></p>
<p>年齢: <%= @user.age %></p>
<p>性別: <%= @user.sex %></p>
<p>住所: <%= @user.address %></p>